@using Scrum_Task_Board.Models
@model Task

@{
    ViewBag.Title = "İş Durumu Değiştir";
}

<h2>İş durumu değiştirme</h2>
<hr />

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="taskState">İş durumu :</label>
        @Html.DropDownListFor(model => model.taskStateID, (List<SelectListItem>)ViewBag.states, new { @class = "form-control", id = "taskState" })
    </div>

    <div class="form-group">
        <label for="taskCard">Bağlı olduğu kart ID'si :</label>
        @Html.TextBoxFor(model => model.cardID, new { @class = "form-control", id = "taskCard", @readonly = "readonly", @Value=Model.cardID })
    </div>

    <div class="form-group">
        <input type="submit" value="Durumu Güncelle" class="btn btn-success w-100" />
    </div>
}

