body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
div#nav {
    position: relative;
    /*box-shadow: -1px 1px 0px 0px #000000, -2px 2px 0px 0px #000000, -3px 3px 0px 0px #000000, -4px 4px 0px 0px #000000, -5px 5px 0px 0px #000000, -6px 6px 0px 0px #000000, -7px 7px 0px 0px #000000, -8px 8px 0px 0px #000000;*/
    z-index: 99;
}

div#nav:before{
    content: '';
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(255,255,255,.25);
    left: 0;
    top: 0;
    z-index: -1;
}




