
@{
    ViewBag.Title = "Hata!";
}

<div class="jumbotron">
    <h1 class="lead display-4">Hata...</h1>
    <hr />
    <p class="text-muted ml-3">Bu route'a gerekli parametreleri girmeden erişemezsiniz!</p>
</div>
